.containerTool {
    padding: 0 10px;
}

.wrap1{
	display: flex;
	flex-direction: column;
}

.wrap1 h1{
	text-align: center;
	text-transform: uppercase;
	margin: 2rem 0;
}

.wrap1 p{
	margin-bottom: 1rem;
	margin-top: 0;
}

.outTool{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.outTool label{
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
	margin: 0.5rem 0;
}

.inputTool{
    padding: 0.5rem 1rem !important;
    font-size: 1.25rem;
    border-radius: 0.5rem !important;
    border: 1px solid black;
    outline: none !important;
    line-height: 2rem !important;
}
  
.btne {
    margin-top: 2rem;
}

.btnTool {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    line-height: 2rem;
    background-color: #d8201d;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    width: 100%;
    margin: 0 0 0.5rem;
    cursor: pointer;
    transition: all 0.14s ease-out;
}
  
.btnTool:hover {
    box-shadow: .25rem .25rem 0rem #684848;
}

.message {
    display: none;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
    color: green;
}